<html>
<head>
    <title>CS Lab num 6</title>
</head>
<body id="body">

    <h1>Wellcome to the game</h1>
    <p>This page will teel you your fortune</p>
    <form action="/home" method="POST">

        <input type="text" name="birth month" placeholder="What is your birth month:">

        <input type="submit" value="Submit">


    </form>
    <p></p>
     
</body>
<style type="text/css">
    
#body{
    background-image: url(https://t4.ftcdn.net/jpg/06/79/14/23/360_F_679142317_oAjHbB7bjC6slwmTcbSwpTJZOMECi2NA.jpg);
}
</style>
</html>
