<html>
<head>
    <title>CS Lab num 7</title>
</head>
<body id="body">
<style type="text/css">
    h1 {
        color: white;
    }
    p {
        color: white;
    }
    #body{

    background-image: url(https://t4.ftcdn.net/jpg/06/79/14/23/360_F_679142317_oAjHbB7bjC6slwmTcbSwpTJZOMECi2NA.jpg);
    }
</style>
    <h1>Welcome to the fortune teller!</h1>
    <p>Log In:</p>
    <form action="/loggin" method="post">
        <input type="text" name="Usersname" placeholder="Enter your user:">

        <input type="text" name="BirthMonth" placeholder="Enter your birth month:">

        <input type="submit" value="Submit">

    </form>
    <p></p>

</body>
</html>