<html>
<head>
    <title>CS Lab num 9</title>
</head>
<body id="body">
        <style>
        body {
            background-color: mediumpurple;
        }
        a {
            color: white;
            text-align: center;
        }
        form {
            text-align: center;
        }

    </style>
    <form action="/home" method="POST">

        <input type="text" name="Quote" placeholder="Enter your Quote:">
        <input type="text" name="NameQ" placeholder="Enter your Name:">

        <input type="submit" value="Submit">

    </form>
    <center> <a href="/signout">Click here to sign out</a> </center>
</body>
</html>