<html>
<head>
    <title>CS Lab num 9</title>
</head>
<body id="body">

    <style>
        body {
            background-color: lightblue;
        }
        p {
            color: navy;
            text-align: center;
        }
        form {
            text-align: center;
        }

    </style>
    <p>Sign Up:</p>
    <form action="/" method="POST">

        <input type="text" name="Full_name" placeholder="Enter your Full Name:">
        <input type="text" name="Username" placeholder="Enter your username:"> 
        <input type="text" name="Email" placeholder="Enter your Email:">
        <input type="Password" name="Password" placeholder="Enter your Password:">

        <input type="submit" value="Submit">

    </form>
    <center><a href="/signin">Already have an account? Sign in here.</a></center>
</body>
</html>