<html>
<head>
    <title>CS Lab num 9</title>
</head> 
<body id="body">
            <style>
        body {
            background-color: cadetblue;
        }
        h2 {
            color: white;
            text-align: center;
        }
        a {
            color: white;
            text-align: center;
        }

    </style>
    <h2>Thank you for submiting the quote!</h2>

    <a href="/home">Click here to go back home and write another quote!</a>
    <a href="/display">Click here to go to see your quote!</a>
</body>
</html>