<html>
<head>
    <title>PerfectMatch Co.</title>
</head>
<body id="body">
    <h2>PerfectMatch Co.</h2>
        <style>
        body {
            background-color: cadetblue;
            }

        h2 {
            color: white;
            text-align: center;
            }
        form{
            color: white;
            text-align: center;
            }
        p{
            color: white;
            text-align: center;
            }

    </style>
    <h3>Aolmost Done!</h3>
        <p>Is your hair:</p>
    <form action="/curly" method="POST">
        <input type="radio" name="typeCu" value="Loose">Loose Curls Hair 
        <input type="radio" name="typeCu" value="Medium">Medium Curls Hair
        <input type="radio" name="typeCu" value="Tight">Tight Curls Hair

        <input type="submit" value="Submit">

    </form>
</body>
</html>