<html>
<head>
    <title>PerfectMatch Co.</title>
</head>
<body id="body">
    <center> <img height="300px"  src="https://i.ibb.co/VY9qRzV/Perfect-match-20240725-113340-0000-removebg-preview.png" alt="PMpic">
    </center>
    <style>
        body {
            background-color: cadetblue;
        }
        h2 {
            color: white;
            text-align: center;
        }
        h3 {
            color: white;
            text-align: center;
        }
        a {
            color: white;
            text-align: center;
        }
        form {
            text-align: center;
        }

    </style>
    <h3>Sign In:</h3>
    <form action="/signin" method="POST">
        <input type="text" name="Email" placeholder="Enter your Email:">

        <input type="password" name="Password" placeholder="Enter your Password:">

        <input type="submit" value="Submit">

    </form>
    <center><a href="/">Don't have an account? Sign up here.</a></center>

</body>
</html>