<html>
<head>
    <title>PerfectMatch Co.</title>
</head>
<body id="body">
    <center> <img height="300px"  src="https://i.ibb.co/VY9qRzV/Perfect-match-20240725-113340-0000-removebg-preview.png" alt="PMpic">
    </center>
        <style>
        body {
            background-color: cadetblue;
            }

        h2 {
            color: white;
            text-align: center;
            }
        form{
            color: white;
            text-align: center;
            }
        p{
            color: white;
            text-align: center;
            }

    </style>
        <p>Enter the type of your hair here:</p>
    <form action="/type" method="POST">
        <input type="radio" name="type" value="Curly">Curly Hair 
        <input type="radio" name="type" value="Wavy">Wavy Hair
        <input type="radio" name="type" value="Straigth">Sraigth Hair
        <input type="radio" name="type" value="Combination">Combination Hair

        <input type="submit" value="Submit">

    </form>
</body>
</html>